* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-top: 127px;
  margin-left: 25px;
  background-image: url('../assets/images/bg-mobile.png');
}

.top {
  width: 327px;
  height: 201px;
  background-color: #1E2D69;
  border-radius: 10px 100px 10px 10px;
}

.logo {
  padding: 40px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 177px;
  margin-left:30px ;
}

.box{
  width: 48px;
  height: 48px;
  background-color: #0C122C;
  border-radius: 10px;
}

.icon-1 {
 padding-top: 12px;
 padding-left: 14px;
}

.icon-2 {
  padding-top: 12px;
  padding-left: 14px;
}

.icon-3 {
  padding-top: 16px;
  padding-left: 12px;
}

.medium {
  width: 326px;
  height: 160px;
  background-color: #1E2D69;
  border-radius: 10px;
  padding-top:24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: #DBD9FF;
}


.bar{
  position: relative;
  width: 262px;
  height: 20px;
  background-color: #0C122C;
  border-radius: 10px;
}

.bar-inside {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 193px;
  height: 14px;
  background-image: linear-gradient(to right,#FFA197,#FF4A95);
  border-radius: 10px;
}

.circle {
  position: absolute;
  width: 10px;
  top: 2px;
  left: 180px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
}

.numbers {
  width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.space {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3 {
  color: white;
  font-size: 12px;
}

h2 {
  font-size: 40px;
}

.left {
  font-size: 12px;
  color: #0C122C;
  opacity: 50%;
}

.bottom {
  width: 179px;
  height: 72px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.container {
  position: relative;
  width: 326px;
  height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom {
  position: absolute;
  top: 435px;
  left: 100px;
}

@media screen and (min-width:786px) {
  body {
    background-image: url('../assets/images/bg-desktop.png');
    background-color: #0C122C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width:920px;
    height: 201px;
  }

  .top{
    width: 350px;
  }

  .medium{
    width: 540px;
    display: flex;
    align-items: flex-start;
    padding-left: 39px;
  }

  .bar{
    position: relative;
    width: 459px;
    height: 20px;
    background-color: #0C122C;
    border-radius: 10px;
  }

  .numbers {
    width: 459px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .bar-inside {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 339px;
    height: 14px;
    background-image: linear-gradient(to right,#FFA197,#FF4A95);
    border-radius: 10px;
  }

  .circle {
    position: absolute;
    width: 10px;
    top: 2px;
    left: 327px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
  }

  .bottom {
    position: absolute;
    top: 220px;
    left: 910px;
  }
  .triangle {
    position: absolute;
    top: 60px;
    left: 148px;
    width: 0; 
    height: 0; 
    rotate: 45deg;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid white;
  }
}


