* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: blue;
  margin-top: 127px;
  margin-left: 25px;
}

.top {
  width: 327px;
  height: 201px;
  background-color: #1E2D69;
  border-radius: 10px 100px 10px 10px;
}

.logo {
  padding: 40px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 177px;
  margin-left:30px ;
}

.box{
  width: 48px;
  height: 48px;
  background-color: #0C122C;
  border-radius: 10px;
}

.icon-1 {
 padding-top: 12px;
 padding-left: 14px;
}

.icon-2 {
  padding-top: 12px;
  padding-left: 14px;
}

.icon-3 {
  padding-top: 16px;
  padding-left: 12px;
}

.medium {
  width: 326px;
  height: 160px;
  background-color: #1E2D69;
 }

p{
  color: #DBD9FF;
}


.bar{
  position: relative;
  width: 262px;
  height: 20px;
  background-color: #0C122C;
  border-radius: 10px;
}

.bar-inside {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 193px;
  height: 14px;
  background-image: linear-gradient(to right,#FFA197,#FF4A95);
  border-radius: 10px;
}

.circle {
  position: absolute;
  width: 10px;
  top: 2px;
  left: 180px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
}

